/* Dark theme vars */
:root {
  --fg-primary: hsl(0, 0%, 99%);
  --fg-secondary: hsl(0, 0%, 93%);
  --bg-primary: hsl(0, 0%, 15%);
  --bg-secondary: hsl(0, 0%, 20%);
  --accent-pale: hsl(224, 100%, 75%);
  --accent-strong: hsl(224, 100%, 65%);
  --warning-pale: hsl(355, 75%, 63%);
  --warning-strong: hsl(355, 75%, 53%);
  --shadow: transparent;
  --shadow-darker: transparent;
  --dark-mode-border: var(--accent-pale);
}