/* Light theme vars */
:root {
  --fg-primary: hsl(0, 0%, 15%);
  --fg-secondary: hsl(0, 0%, 20%);
  --bg-primary: hsl(0, 0%, 99%);
  --bg-secondary: hsl(0, 0%, 93%);
  --accent-pale: hsl(224, 100%, 80%);
  --accent-strong: hsl(224, 100%, 70%);
  --warning-pale: hsl(355, 100%, 80%);
  --warning-strong: hsl(355, 100%, 70%);
  --shadow: hsla(0, 0%, 50%, 0.15);
  --shadow-darker: hsla(0, 0%, 50%, 0.3);
  --dark-mode-border: transparent;
}

